header {
  padding: 0 24px 80px 24px;
  background-image:
     linear-gradient(rgba(255, 255, 255, .02) 1px, transparent 1px),
     linear-gradient(90deg, rgba(255, 255, 255, .02) 1px, transparent 1px);
  background-size: 60px 60px;
  background-position: 20px 10px;
}